.jumbotron{
    background-image: url("https://dr282zn36sxxg.cloudfront.net/datastreams/f-d%3A6c9902f8289b1ba39298d294732630e5f7fa627baf5931c82c093f10%2BIMAGE%2BIMAGE.1");
    background-size: 100% ;
    background: ;
    text-align: center;
    color:aliceblue;
}